.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 205px;
}

body {
  background-image: url("~/public/img/dashboard/kids-toys-frame-concept-free-vector.jpg");
}
